@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --animate-wiggle: float 4s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8px);
    }
  }
}
